<div class="col-xs-12 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panelHeader logoFont">What&#39;s on tap...</div>
    </div>
    <div class="panel-body">
      <h1 class="logoFont panelBodyHeader">{{onTap.beer.name}}</h1>
      <p><span class="upsize"><b><a href="{{onTap.brewery.website}}" target="_blank">{{onTap.brewery.name}}</a></b></span></p>
      <p><span class="upsize"><b>{{onTap.beer.style}}</b></span></p>
      <p><span class="upsize"><b>{{onTap.beer.abv}}% ABV</b></span></p>
      <p>{{onTap.beer.description}}</p>
    </div>
  </div>
</div>